{% extends 'layout.html' %}

{% block main %}
    <!-- About Me -->
    <section class="bedla-about-section bedla-about-inner-page">
        <div class="container">
            <div class="row bedla-about-inner">
                <div class="col-md-6">
                    <img class="BEDLA-about-img" src="img/about.html" alt="">
                </div>
                <div class="col-md-6">
                    <div class="bedla-about-info">
                        <h2>About Me</h2>
                        <p>Hi, I'm BEDLA a Professional Makeup Artist. Vestibulum condimentum sem non dui tempoeu pharetra. Aliquam non venenatis. Donec eget neque et nulla interdum iaculis seder the gravida varius ex lacinia.</p>
                        <p>Nulla molestie finibus dignissim. Nunc ultrices odio eu mauris fermentum the gravida varius ex lacinia. Proin dictum nisl orci, eu scelerisque risus feugiat sit amet. Vestibulum condimentum sem non dui tempoeu pharetra. Aliquam the venenatis libero mi. Donec eget neque et nulla interdum iaculis seder.</p>
                        <p class="bedla-signature-dark"><img src="img/signature.png" alt="BEDLA Mua"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="BEDLA-team-section">
        <div class="container">
            <div class="BEDLA-team-section-heading text-center">
                <h2>My Team</h2>
                <p style="color: #fff;">Makeup is meant to enhance, not to hide behind.
                    <br/>I want my clients to feel like enhanced versions of themselves.</p>
            </div>
            <div class="row BEDLA-team-wrap">
                <div class="col-md-4 col-sm-4 xs-padding">
                    <div class="BEDLA-team-content text-center">
                        <div class="BEDLA-team-thumb">
                            <img src="img/team/team-01.jpg" alt="">
                        </div>
                        <h3>Emma Clarke</h3>
                        <span>Makeup Artist</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 xs-padding">
                    <div class="BEDLA-team-content text-center">
                        <div class="BEDLA-team-thumb">
                            <img src="img/team/team-02.jpg" alt="">
                        </div>
                        <h3>Emily Mua</h3>
                        <span>Makeup Artist</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 xs-padding">
                    <div class="BEDLA-team-content text-center">
                        <div class="BEDLA-team-thumb">
                            <img src="img/team/team-03.jpg" alt="">
                        </div>
                        <h3>Arya Marie</h3>
                        <span>Makeup Artist</span>
                    </div>
                </div>
            </div>
        </div>
    </section>     
{% endblock %}