{% extends 'layout.html' %}

{% block main %}
    <!-- Slider -->
    <div class="bedla-slider-section">
        <div class="bedla-profile-info">
            <div class="d-flex align-items-center w-100">
                <div class="mx-auto bedla-profile-inner">
                    <h2>BEDLA Mua<span>Makeup Artist</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="owl-carousel bedla-main-slider">
            <div class="slide-item" style="background-image: url(img/slider/slider-01.jpg);"></div>
            <div class="slide-item" style="background-image: url(img/slider/slider-02.jpg);"></div>
        </div>
    </div>
    <!-- About Me -->
    <section class="bedla-about-section-home bedla-about-inner-page bg-black">
        <div class="container">
            <div class="row bedla-about-inner">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="bedla-about-info">
                        <h1>About Me</h1>
                        <h3>Hi, I'm BEDLA a Professional Makeup Artist</h3>
                        <p>Nulla molestie finibus dignissim. Nunc ultrices odio mauris fermentum, gravida varius dranex the celacinia. Proin dictum nisleu scelerisque risus feugiat the amet. Vestibulum condimentum sem non dui tempoeu. Aliquam non venenatis. Donec eget neque et nulla interdum iaculis seder.</p>
                        <p class="bedla-signature-dark"><img src="img/signature.png" alt="BEDLA Mua"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section class="bedla-homepage-services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center mb-40">
                    <h2>Services</h2>
                    <p>Here are a few selections from my portfolio. Please view my expanded portfolio further below. Nam rhoncus euismo.</p>
                </div>
            </div>
            <div class="row bedla-portfolio-items">
                <div class="col-md-6 single-item">
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="img/services/eye-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Eye Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="img/services/children-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Children Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="img/services/effect-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Effect Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 single-item">
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="img/services/face-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Face Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="img/services/hair-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Hair Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="img/services/wedding-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Wedding Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial -->
    <section class="bedla-testimonial-section-home">
        <div class="container">
            <div class="row bedla-testimonial-inner">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="bedla-testimonial-info">
                        <h1>Testimonial</h1>
                        <h3>If you do good work for clients, it will lead to other clients.</h3>
                    </div>
                </div>
            </div>
            <ul id="testimonial-carousel" class="testimonial-items owl-carousel">
                <li class="testimonial-item">
                    <i class="fa fa-quote-left"></i>
                    <p>Makeup is meant to enhance, not to hide behind.
                        <br/>I want my clients to feel like enhanced versions of themselves.</p>
                    <h4>DeBEDLAa Harnett</h4>
                </li>
                <li class="testimonial-item">
                    <i class="fa fa-quote-left"></i>
                    <p>Makeup is meant to enhance, not to hide behind.
                        <br/>I want my clients to feel like enhanced versions of themselves.</p>
                    <h4>DeBEDLAa Harnett</h4>
                </li>
                <li class="testimonial-item">
                    <i class="fa fa-quote-left"></i>
                    <p>Makeup is meant to enhance, not to hide behind.
                        <br/>I want my clients to feel like enhanced versions of themselves.</p>
                    <h4>DeBEDLAa Harnett</h4>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}