{% extends 'layout.html' %}

{% block main %}
    <!-- Services -->
    <section class="BEDLA-services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center mb-40">
                    <h2>Services</h2>
                    <p>Here are a few selections from my portfolio. Please view my expanded portfolio further below. Nam rhoncus euismo.</p>
                </div>
            </div>
            <div class="row bedla-portfolio-items">
                <div class="col-md-6 single-item">
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="../static/img/services/eye-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="#">Eye Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="../static/img/services/children-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Children Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="../static/img/services/effect-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Effect Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 single-item">
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="../static/img/services/face-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Face Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="../static/img/services/hair-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Hair Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                    <div class="bedla-portfolio-wrap">
                        <a href="portfolio.html"><img src="../static/img/services/wedding-makeup.jpg" alt=""></a>
                        <div class="bedla-portfolio-content">
                            <p>Vestibulume</p>
                            <h3>
                                <a href="portfolio.html">Wedding Makeup</a>
                            </h3>
                            <a href="portfolio.html" class="bedla-portfolio-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}