<!-- Sidebar Section -->
<a href="#" class="js-BEDLA-nav-toggle BEDLA-nav-toggle">
    <i></i>
</a>
<aside
    id="bedla-aside">
    <!-- Logo -->
    <div class="bedla-logo">
        <a href="/">
            <img src="../static/img/logo-dark.png" class="logo-img" alt="">
        </a>
    </div>
    <!-- Menu -->
    <nav class="bedla-main-menu">
        <ul>
            <li class="active">
                <a href='/'>Home</a>
            </li>
            <li>
                <a href='/about'>About Me</a>
            </li>
            <li>
                <a href='/services'>Services</a>
            </li>
            <li>
                <a href='/portfolio'>Portfolio</a>
            </li>
            <li>
                <a href='/contact'>Contact</a>
            </li>
        </ul>
    </nav>
    <!-- Bottom -->
    <div class="bedla-footer">
        <div class="separator"></div>
        <p>+1 800 123 1238<br>hi@BEDLAMua.com</p>
    </div>
</aside>
